
  {% extends "base.html" %}

  {% block title %}
    Inicio
  {% endblock %}

  {% block content %}

  <div class="container-fluid ">
    <div class="row">
      <div class="col-xl-2 btn btn-primary" style="margin:2%;" >
        <a href="/warehouse/products/1" style="text-decoration:none;">
          <p class="font-size-4 text-light">{{n_productos}}</p>
          <p class="font-size-3 text-light">Productos</p>
        </a>
      </div>
      <div class="col-xl-2 btn btn-success" style="margin:2%;" >
        <a href="/clients/" style="text-decoration:none;">
          <p class="font-size-4 text-light">{{n_clientes}}</p>
          <p class="font-size-3 text-light">Clientes</p>
        </a>
      </div>
      <div class="col-xl-2 btn btn-warning" style="margin:2%;" >
        <a href="/warehouse/providers/1" style="text-decoration:none;">
          <p class="font-size-4 text-light">{{n_proveedores}}</p>
          <p class="font-size-3 text-light">Proveedores</p>
        </a>
      </div>
      <div class="col-xl-2 btn btn-danger" style="margin:2%;" >
        <a href="/warehouse/categorys/1" style="text-decoration:none;">
          <p class="font-size-4 text-light">{{n_categorias}}</p>
          <p class="font-size-3 text-light">Categorias</p>
        </a>
      </div>
    </div>
    <table class="table table-bordered table-hover bg-primary">
	<thead>
		<tr>
		  <th class="text-light">Nombre del producto</th>
		  <th class="text-light">En Stock</th>
		  <th></th>
        </tr>
    </thead>
    {% if productos %}
        {% for producto in productos %}
        <tbody>
        <tr class="bg-light">
            <td>{{producto.name}}</td>
            <td>{{producto.units}}</td>
            {% if producto.units < 6 %}
                <td>
		            <span class="bg-danger text-light">Quedan muy pocas existencias.</span>
                </td>
            {% else %}
                <td></td>
            {% endif%}
        </tr>
        </tbody>
        {% endfor %}
    {% else %}
        <tbody>
        <tr class="bg-light">
        <td> No se han encontrado productos.</td>
        </tr>
        </tbody>
    {% endif %}
    </table>
  </div>

  {% endblock %}