{% extends "base.html" %}

  {% block title %}
    Vender
  {% endblock %}

  {% block content %}

    <div class="container">
        <div class="row" style="padding-top:4vh">
            <div class="col form-inline" style="padding-top:4vh" >
                <a class="btn btn-success text-light" style="margin:4vh" href="/view_report_sales">ver en pagina</a>
                <a class="btn btn-warning text-light" href="/reporte/ventas">exportar en pdf</a>
            </div>
        </div>
    </div>

  {% endblock %}