{% extends 'base.html'%}
{% block title %}
    Buscar Clientes
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col text-center" style="padding:4vh">
            <form action="" class="" >
                <input type="text" class="form-control" placeholder="Numero de Cedula" name="reference">
                <div style="padding:4vh">
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}