{% extends 'index/base_principal.html' %}
{% block title %}
    Inicio
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-12" style="padding: 5vh">
            <h1>¿Para que un sistema de registro y control de ventas?</h1>
        </div>
        <div class="col-sm-4">
            <p>
                <a href="" class="btn"><i class="fas fa-store fa-10x text-success"></i></a>
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                El manejo de sistemas de inventarios mediante software de páginas web, es ahora un requisito primordial en la mayoría de las empresas.
                Este proyecto tiene la finalidad de mantener un registro y control de los inventarios de sistemas online en las empresas y público general con micro empresas que puedan hacer uso de este software.
                Con esto se beneficiarán las empresas que puedan incursionar en mundo del Internet y las ventajas que nos ofrece la virtualidad en el ámbito laboral.et y las ventajas que nos ofrece la virtualidad en el ámbito laboral.
            </p>
        </div>
        <!-- Que se usara -->
        <div class="col-xl-12" style="padding: 5vh">
            <h1>¿Que es un sistema de informacion? y la ventaja nos ofrece</h1>
        </div>
        <div class="col-sm-2">
            <p>
                <a href="" class="btn"><i class="fas fa-info fa-10x text-success"></i></a>
            </p>
        </div>
        <div class="col-sm-10">
            <p>
                Un sistema de información es un conjunto de datos que interactúan entre sí con un fin común,
                los sistemas de información ayudan a administrar, recolectar, recuperar, procesar, almacenar y distribuir información relevante para los procesos fundamentales y las particularidades de cada organización.
                Para la elaboración de este proyecto se usan las ventajas que ofrecen los Sistemas de información generales aplicados en los procesos internos de la empresa,
                reduciendo así el tiempo de obtención de la información y el uso de recurso humano.
            </p>
        </div>
        <!-- Sistemas de control de inventarios -->
        <div class="col-xl-12" style="padding: 5vh">
            <h1>Sistemas de control de inventarios</h1>
        </div>
        <div class="col-sm-4">
            <p>
                <a href="" class="btn"><i class="fas fa-chart-pie fa-10x text-success"></i></a>
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                Un sistema de inventarios es un conjunto de normas, métodos y procedimientos aplicados de manera sistemática para planificar y controlar los materiales y productos que se emplean en una organización.
                Este sistema puede ser manual o automatizado. Para el control de los costos, elemento clave de la administración de cualquier empresa, existen sistemas que permiten estimar los costos de las mercancías que son adquiridas y luego procesadas o vendidas.
                EL sistema de inventario puede ser periódico o físico y permanente o perpetuo.
            </p>
        </div>

    </div>
</div>

{% endblock %}