{% extends 'index/base_principal.html' %}
{% block title %}
    Inicio
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row text-center" style="padding: 4vh">
            {% if productos%}
                {% for producto in productos %}
                    <div class="col-xl-3">
                        <div class="btn " style="margin-bottom: 4vh">
                            <img src="../curso_django/uploads/{{producto.imagen}}" alt="" width="200vh" height="200vh">
                            <form action="/sell/search_products/add_cart/" method="post" >{% csrf_token %}
                                <input type="hidden" name="product_id" value="{{producto.id}}">
                                <div class="row">
                                    <div class="col">
                                        <p>{{producto.name}}</p>
                                    </div>
                                    <div class="col">
                                        <p>{{producto.exit_price}}COP$</p>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-warning text-light">Comprar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% endif%}
        </div>
    </div>

{% endblock %}